.nav {
	/* padding-bottom: 4px; */
}

.nav.underline {
	border-bottom: 2px solid var(--card-border-color);
}

.nav.align-right a {
	text-align: right;
}

.nav.align-center a {
	text-align: center;
}

.nav.horizontal a {
	margin-right: 25px;
}
.nav a {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	color: var(--text-muted);
	transition: color .2s, box-shadow .2s;
    font-weight: 400;
    font-size: 16px;
	text-align: left;
}
.nav.link-underline a {
	padding-bottom: 6px;
}
.nav.underline a {
	margin-bottom: -2px;
}
.nav.pull-right a {
	margin-right: 0px;
	margin-left: 25px;
}

.nav.vertical {
	display: flex;
	flex-direction: column;
}

.nav.vertical a {
	padding: 5px 0px;
}


.nav a:hover {
	color: var(--brand);
}
.nav.link-underline a:hover {
	box-shadow: inset 0px -2px 0px var(--brand);
}

.nav>a.active {
	color: var(--brand);
}
.nav.link-underline a.active {
	box-shadow: inset 0px -2px 0px var(--brand);
}