.select {
	width: 100%;
	margin: 5px 0px;
	border: 2px solid var(--card-border-color);
	border-radius: 2px;
	padding: 10px;
	font-size: 16px;
	background-color: #FFF;
	font-family: inherit;
	color: var(--text-color);

	-webkit-appearance: none; 
	-moz-appearance: none;
	appearance: none;
}

.select-span {
	position: relative;
}
.select-span .svg-inline--fa.fa-chevron-down {
	position: absolute;
    right: 10px;
    top: 20px;
    color: var(--text-muted);
    pointer-events: none;
}

.select.success {
	border-color: var(--success);
}

.select.information {
	border-color: var(--information);
}

.select.danger {
	border-color: var(--danger);
}