@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

:root {
    --content-background: #e7ebee;
    --border-color: #cfdbe2;
    --card-border-color: #f1f1f1;
    --dark-header-color: #34495e;
    --sidebar-highlight: #16a085;
    --highlight: #16a085;
    --text-color: #515253;
    --text-muted: #636c72;

    --success: #1abc9c;
    --information: #2980b9;
    --warning: #e67e22;
    --danger: #c0392b;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

*, :after, :before {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto','Open Sans','Helvetica',Helvetica,Arial,sans-serif;
  color: var(--text-color);
}

a {
	text-decoration: none;
	color: var(--text-color);
}


.container {
	min-height: 100vh;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: 80px 1fr 50px;
	grid-gap: 0px;
	grid-template-areas:
	    "header"
	    "content"
	    "footer";
}

/* UTILITY */
.vertical-align {
	display: flex;
    align-items: center;
}

.center {
	display: flex;
    align-items: center;
    justify-content: center;
}
.align-center {
	display: flex;
    align-items: center;
	width: 100%;
}
.pull-right {
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.full-width {
	width: 100%;
}

/* PAGE LAYOUT */

.header {
	grid-area: header;
	display: grid;
	grid-template-columns: 64px 2fr 1fr;
}

.content {
	grid-area: content;
	padding-bottom: 20px;
}

.footer {
	grid-area: footer;
	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    height: 50px;
}

pre {
	background-color: #f7f7f7;
	border: 2px solid #EAEAEA;
	padding: 15px;
}

/* GRID */
.grid {
	display: grid;
	width: 100%;
	grid-gap: 10px;
	grid-template-columns: repeat(12, 1fr);
}
.grid-11 {
	grid-template-columns: repeat(11, 1fr);
}
.grid-10 {
	grid-template-columns: repeat(10, 1fr);
}
.grid-9 {
	grid-template-columns: repeat(9, 1fr);
}
.grid-8 {
	grid-template-columns: repeat(8, 1fr);
}
.grid-7 {
	grid-template-columns: repeat(7, 1fr);
}
.grid-6 {
	grid-template-columns: repeat(6, 1fr);
}
.grid-5 {
	grid-template-columns: repeat(5, 1fr);
}
.grid-4 {
	grid-template-columns: repeat(4, 1fr);
}
.grid-3 {
	grid-template-columns: repeat(3, 1fr);
}
.grid-2 {
	grid-template-columns: repeat(2, 1fr);
}
.grid-1 {
	grid-template-columns: repeat(1, 1fr);
}

div[class^="col-"]{
	display: flex;
}
.col-1 {
	grid-column: span 1;
}
.col-2 {
	grid-column: span 2;
}
.col-3 {
	grid-column: span 3;
}
/* span 1 of 3, offset to column 2 */
.col-3-2 {
	grid-column: span 1/3;
}
.col-4 {
	grid-column: span 4;
}
/* span 2 of 4, offset to column 2 */
.col-4-2 {
	grid-column: span 2/4;
}
.col-5 {
	grid-column: span 5;
}
.col-6 {
	grid-column: span 6;
}

.col-right {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

/* LISTS */

/* TYPOGRAPHY */
strong {
	font-weight: 400;
}

.text-left {
	text-align: left;
	justify-content: left;
}
.text-300 {
	font-weight: 300;
}
.text-400 {
	font-weight: 400;
}
.text-600 {
	font-weight: 600;
}

.text-success {
	color: var(--success);
}

.text-information {
	color: var(--information);
}

.text-danger {
	color: var(--danger);
}

.background-success {
	background-color: var(--success);
	color: #FFF;
}

.background-information {
	background-color: var(--information);
	color: #FFF;
}

.background-danger {
	background-color: var(--danger);
	color: #FFF;
}

/* UTILITY */
.padding {
	padding: 15px;
}
.no-padding {
	padding: 0px;
}

.margin-left {
	margin-left: 10px;
}
.margin-right {
	margin-right: 10px;
}
.margin-top {
	margin-top: 10px;
}
.margin-bottom {
	margin-bottom: 10px;
}
.margin-left-more {
	margin-left: 15px;
}
.margin-right-more {
	margin-right: 15px;
}
.margin-top-more {
	margin-top: 15px;
}
.margin-bottom-more {
	margin-bottom: 15px;
}

@media (min-width: 768px) { 
	.container {
		width: 100%;
		padding: 0px 15px;
	}
}

@media (min-width: 1000px) { 
	.container {
		width: 1000px;
		padding: 0px;
	}
}
