.button.btn-small {
	padding: 5px 10px;
	font-size: 14px;
}

.button {
	padding: 10px 20px;
	color: var(--text-muted);
	background-color: var(--content-background);
	border: 2px solid var(--content-background);
	border-radius: 2px;
	cursor: pointer;
    align-items: initial;
    font: 16px 'Roboto';
    font-weight: normal;
	display: flex;
    justify-content: center;
    position: relative;
}
.button:before {
	content: '';
	height: 100%;
	width: 100%;
	position: absolute;
	left:0;
	top:0;
	background: transparent;
	transition: background .3s;
}
.button:hover:before {
	background: rgba(255, 255, 255, .05);
}
.button:active:before {
	background: rgba(0, 0, 0, .05);
}
.button:focus {
	outline: none;
}

.button.no-click:before {
	display: none;
}

.button.brand {
	background-color: var(--brand);
	border-color: var(--brand);
	color: #FFF;
}

.button.accent {
	background-color: var(--accent);
	border-color: var(--accent);
	color: #FFF;
}

.button.success {
	background-color: var(--success);
	border-color: var(--success);
	color: #FFF;
}

.button.information {
	background-color: var(--information);
	border-color: var(--information);
	color: #FFF;
}

.button.warning {
	background-color: var(--warning);
	border-color: var(--warning);
	color: #FFF;
}

.button.danger {
	background-color: var(--danger);
	border-color: var(--danger);
	color: #FFF;
}

.plain {
	background-color: #FFF;
}

.button.brand.plain {
	color: var(--brand);
	background-color: #FFF;
}

.button.accent.plain {
	color: var(--accent);
	background-color: #FFF;
}

.button.success.plain {
	color: var(--success);
	background-color: #FFF;
}

.button.information.plain {
	color: var(--information);
	background-color: #FFF;
}

.button.warning.plain {
	color: var(--warning);
	background-color: #FFF;
}

.button.danger.plain {
	color: var(--danger);
	background-color: #FFF;
}

.button.text {
	border: none;
	background-color: #FFF;
}
