.input {
	width: 100%;
	margin: 5px 0px;
	border: 2px solid var(--card-border-color);
	border-radius: 2px;
	padding: 10px;
	font-size: 16px;
	font-family: inherit;
	color: var(--text-color);
}
.input.small {
	margin: 0px;
	padding: 8px;
    font-size: 14px;
}

.input.success {
	border-color: var(--success);
}

.input.information {
	border-color: var(--information);
}

.input.danger {
	border-color: var(--danger);
}