table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    border-spacing: 0;
    font-size: 100%;
    background: transparent;
}

.table {
	width: 100%;
	border: 2px solid var(--card-border-color);
	border-radius: 2px;
}

.table>thead>tr {
	background-color: #fafafa;
}
.table>thead>tr>th {
	text-align: left;
	font-weight: 400;
	padding: 8px 15px;
	border-bottom: 2px solid var(--card-border-color);
}

.table>tfoot>tr {
	background-color: #fafafa;
}
.table>tfoot>tr>td {
	padding: 8px 15px;
	border-top: 2px solid var(--card-border-color);
}

.table>tbody>tr>td {
	text-align: left;
	padding: 15px;
	border-bottom: 2px solid var(--card-border-color);
}
.table>tbody>tr:last-child>td{
	border-bottom: none;
}

.table.hover>tbody>tr:hover{
	cursor: default;
	background-color: #fafafa;
}

.table.pointer>tbody>tr:hover{
	cursor: pointer;
}

/* condensed */
.table.condensed>tbody>tr>td {
	padding: 8px 15px;
}
